html{
    padding:0;
    margin:0;
}

body{
    text-align:center;
    margin:0;
    padding:0;
    background-color: rgb(247, 247, 247);
}

h1{
    margin:0;
}

/* ------------------------------------   Logo ----------------------------------------------------------- */
.branding{
    width:200px;
    height:1250px;
    position:absolute;
    left:60px;
    top:30px;
}

svg{
    opacity:1;
    cursor:pointer;
    transition:1s;
    fill: rgba(34,34,34,1);
    filter:invert(95%);
    /* mix-blend-mode: difference; */
}

.site-title{
    opacity:0;
    transition:.5s ease-in-out;
}

svg:hover > .site-title {
    display:block;
    opacity:1;
}

/* ---------------------------------------  Side Nav Tabs --------------------------------------------------*/

nav{
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    width:45px;
    height:100%;
}
nav > a:nth-child(1){
    background:black;
    color:white;
}


.side-text{
    writing-mode: vertical-lr;
    /* border:1px solid red; */
    text-align: center;
    white-space:nowrap;
    text-transform: uppercase;
    font-size:14px;
    font-family:'Poppins', sans-serif;
    transition:.25s ease-out;
    letter-spacing: normal;
}

.aTab-hover:hover > .side-text{
    letter-spacing: 1.5px;
}

.nav-left{ 
    /* background:green; */
    flex-direction:column-reverse;
}

.nav-left > a > .side-text{
    transform: rotate(180deg);
}

.nav-right > a > .side-text{
    transform: rotate(0deg);
}


.nav-left > a, .nav-right > a{
    height:50%;
    width:100%;
    background:white;
    color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration: none;
}

.nav-right{
    /* background:blue; */
    flex-direction:column;
    right:0;
}



/* ----------------------------------   Social Media Divs ------------------------------------------------*/

.social{
    position:absolute;
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    left:90%;
}



