html{
    padding:0;
    margin:0;
    
}

body{
    text-align:center;
    margin:0;
    padding:0;
    background:red;
}

h1{
    margin:0;
}

/* ------------------------------------   Logo ----------------------------------------------------------- */
.branding{
    width:200px;
    height:1250px;
    position:fixed;
    left:60px;
    top:30px;
}

svg{
    opacity:1;
    cursor:pointer;
    transition:1s;
    fill: rgba(34,34,34,1);
    filter:invert(150%);
    mix-blend-mode: difference;
    
}

.site-title{
    opacity:0;
    transition:.5s ease-in-out;
}

svg:hover > .site-title {
    display:block;
    opacity:1;
}

/* ---------------------------------------  Side Nav Tabs --------------------------------------------------*/

nav{
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    width:45px;
    height:100%;
}
nav > a:nth-child(1){
    background:black;
    color:white;
}


.side-text{
    writing-mode: vertical-lr;
    /* border:1px solid red; */
    text-align: center;
    white-space:nowrap;
    text-transform: uppercase;
    font-size:14px;
    font-family:'Poppins', sans-serif;
    transition:.25s ease-out;
    letter-spacing: normal;
}

.aTab-hover:hover > .side-text{
    letter-spacing: 1.5px;
}

.nav-left{ 
    /* background:green; */
    flex-direction:column-reverse;
}

.nav-left > a > .side-text{
    transform: rotate(180deg);
}

.nav-right > a > .side-text{
    transform: rotate(0deg);
}


.nav-left > a, .nav-right > a{
    height:50%;
    width:100%;
    background:white;
    color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration: none;
}

.nav-right{
    /* background:blue; */
    flex-direction:column;
    right:0;
}



/* ----------------------------------   Social Media Divs ------------------------------------------------*/

.social{
    position:absolute;
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    left:90%;
}

/*--------------------------------------------- Main ---------------------------------------------------------------*/

section{
    width:100%;
}

#one{
    background:green;
    height:100vh;
    margin:0;
    padding:0;
    /* border:1px blue solid; */
}

video{
    height:100vh;
    width:100%;
    /* max-width: 100%; */
    object-fit:cover;
    object-position: 50% 50%;
    display:inline-block;
    margin: auto;
    padding: 0;
    vertical-align: top;
    /* border:solid red 1px; */
}

.mainHeadline{
    position:absolute;
    font-size:110px;
    top:235px;
    left:13%;
    z-index:2;
    color:#ea1e48;
    /* border:red solid 1px; */
    margin: 0 auto;
    width:75%;
    text-transform: uppercase;
    text-align:left;
    line-height:5rem;
}
.subHeading{
    color:white;
    font-size:80px;
}

.eventFlex{
    background:rgba(0,0,0,.5);
    width:89%;
    height:45px;
    margin:0 auto;
    display:flex;
    position:absolute;
    bottom:5%;
    left:5%;
}

#eventTab, #eventTab > p{
    width:100px;
    background:white;
    text-transform: uppercase;
}
#dynamicEvent{
    width:100%;
}
.runningText{
    text-align: center;
    color:white;
    text-transform: uppercase;
}

/*-------------------------------------------------------- Section 2 -------------------------------------------------------*/

#two{
    height:100vh;
    background-image:url('images/Refugee-Scholar.png');
    width:100%;
    object-fit: cover;
    background-position:50% 0;
    object-position: -1100px 0%;
    background-size:130% 100%;
    background-repeat: no-repeat;
}

/* ---------------- Still need to figure out mobile sizing for section two ------------------- */

@media screen and (max-width: 959px) {
    .mainHeadline{
        font-size:70px;
        /* border:blue solid 1px; */
    }
    .subHeading{
        font-size:60px;
    }
}

/* @media screen and (max-width: 450px) {
    #two{
        background-size:1460px 800px;
    }
} */

